.consultation {
  padding: 100px 0 92px;
  min-height: 680px;
  background: url("../img/feedback-bg.jpg") center (center/cover) no-repeat;

  &__descr {
    margin-top: 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #fff;
  }

  .error {
    border: 1px solid #f00;
  }

  label.error {
    margin-bottom: 15px;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #fff;
  }
}