.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* ниже для изменения логотипа в будущем */
  &__logo {
    width: 250px;

    img {
      width: 100%;
    }
  }

  &__official {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #fff;

    span {
      display: block;
      font-size: 18px;
    }
  }

  &__phone {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  &__contacts {
    /* Для выравнивания содержимого по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}