@media ( max-width:  1200px) {
    * {
        border: 1px solid red;
    }
}

@media ( max-width:  991px) {
    * {
        border: 1px solid blue;
    }
}
@media ( max-width:  767px) {
    * {
        border: 1px solid yellow;
    }
}
@media ( max-width:  575px) {
    * {
        border: 1px solid green;
    }
}
